---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  Hello! I am Wenhao Gao (高文昊), an incoming Assistant Professor in the <a href="https://cbe.seas.upenn.edu/" target="_blank">Department of Chemical and Biomolecular Engineering</a> 
  at the University of Pennsylvania, and a member of <a href="https://ideas.seas.upenn.edu/" target="_blank">Innovation in Data Engineering and Science (IDEAS)</a>.
  I will be starting in January 2027 and will begin recruiting Ph.D. students from the December 2025 application cycle. 
  Before joining Penn, I will be a postdoctoral researcher at Stanford University with Professor <a href="https://statmech.stanford.edu/" target="_blank">Grant Rotskoff</a> 
  and Professor <a href="https://cs.stanford.edu/~ermon/" target="_blank">Stefano Ermon</a>.
  </p>
  <p>
  I am interested in the intersection of chemistry and AI, particularly in how AI can transform molecular discovery. 
  My research focuses on building systematic methodologies that enable scalable, effective, and efficient molecular discovery 
  for applications such as drug design and sustainable materials. The main approach is to integrate chemical and physical priors 
  with modern computational techniques to enhance the modeling and design of molecules and materials with targeted functionalities, 
  with a recent emphasis on AI and machine learning. I am also interested in applying these methods to real-world problems, 
  including therapeutic discovery and sustainable chemistry.
  </p>
  <p>
    I recently received my PhD in Chemical Engineering from MIT, where I was advised by Professor <a href="https://coley.mit.edu/" target="_blank">Connor W. Coley</a>.
    My PhD research was supported by <a href="https://research.google/outreach/phd-fellowship/recipients/" target="_blank">the Google PhD Fellowship</a> and 
  <a href="https://news.mit.edu/2023/takeda-fellows-leveraging-ai-positively-impact-human-health-0112" target="_blank">the Takeda Fellowship</a>.
  I am honored to be recognized among <a href="https://www.cas.org/about/futureleaders" target="_blank">the CAS Future Leaders</a> 2025, 
  a D. E. Shaw Research Fellow, and a Forbes 30 Under 30 Asia honoree in Healthcare and Science. 
  You can find more information about my research, publications, and projects, as well as my professional and academic background, below.
  </p>



  <!-- <p>
  Hello! I am Wenhao Gao (高文昊), a researcher in AI and molecular science, currently completing my Ph.D. at MIT with Professor <a href="https://coley.mit.edu/" target="_blank">Connor W. Coley</a>.
  My current research focuses on advancing molecular design by developing AI-driven models that integrate generative modeling with chemical synthesis, aimed at enabling scalable, synthesizable, and efficient exploration of chemical space.
  My long-term goal is to systematize molecular design methodologies to enable the discovery of novel functional molecules at scale, with potential applications in drug discovery, sustainability, and beyond.
  </p>
  <p>
  In Fall 2025, I will begin my postdoctoral research at Stanford University with Professor <a href="https://statmech.stanford.edu/" target="_blank">Grant Rotskoff</a> and Professor 
  <a href="https://cs.stanford.edu/~ermon/" target="_blank">Stefano Ermon</a>, 
  where I will work on combining physical modeling with data-driven approaches to enhance biomolecular conformational sampling. 
  I will be joining <a href="https://cbe.seas.upenn.edu/" target="_blank">the CBE department</a> at the University of Pennsylvania, 
  affiliated with <a href="https://ideas.seas.upenn.edu/" target="_blank">the IDEAS initiative</a>, and will start to recruit students from 2026 Fall. If you are interested in joining my research group, please feel free to reach out!
  </p>
  <p>
    I am grateful to have my research supported by <a href="https://research.google/outreach/phd-fellowship/recipients/" target="_blank">the Google PhD Fellowship</a> and 
  <a href="https://news.mit.edu/2023/takeda-fellows-leveraging-ai-positively-impact-human-health-0112" target="_blank">the Takeda Fellowship</a>, 
  and I am honored to be a recipient of the D.E. Shaw Research Fellowship and recognized among <a href="https://www.cas.org/about/futureleaders" target="_blank">the CAS Future Leaders</a> in 2025.
    You can find more information about my research, publications, and projects, as well as my professional and academic background below. 
  </p> -->

  <!-- <p>

    Hello! I am Wenhao Gao (高文昊), a researcher in chemistry and AI, currently completing my Ph.D. at MIT with Professor Connor W. Coley. My research focuses on advancing molecular design by developing AI-driven models that integrate generative AI with chemical synthesis, aimed at enabling scalable, synthesizable, and efficient exploration of chemical space. My long-term goal is to accelerate and transform molecular discovery processes through foundation models tailored specifically for the unique challenges of chemical science.

I am grateful to have my research supported by the Google PhD Fellowship and the Takeda Fellowship, and I am honored to be a recipient of the D.E. Shaw Research Fellowship and recognized among CAS Future Leaders Top 100.

This fall, I am actively seeking postdoctoral and faculty positions! You can find more information about my research, publications, and projects, as well as my professional and academic background, below. Thank you for visiting, and please feel free to reach out with questions, opportunities, or collaboration ideas.

    My research goal is to bring autonomous molecular discovery to the real world, which means a systematical methodology that can be applied to a wide 
    range of molecular discovery problems, with little human intervention. This not only speeds up the discovery process but also allows us to scale it up. 
    In my past endeavors, I have focused on developing AI algorithms with broader practical applicability for designing small organic molecules, 
    expanding upon the synthetic accessibility and sample efficiency. Lately, I have been working on bridging the gap between AI planning and autonomous experiments, 
    and exploring pre-training strategies for molecules.
  </p> -->

  <!-- <p>
  My work in designing drug candidates for advancing human health is generously supported by 
  <a href="https://research.google/outreach/phd-fellowship/recipients/" target="_blank">Google PhD Fellowship</a> and 
  <a href="https://news.mit.edu/2023/takeda-fellows-leveraging-ai-positively-impact-human-health-0112" target="_blank">MIT-Takeda Fellowship</a>.
  I also work with <a href="https://impactclimate.mit.edu" target="_blank">the MIT Climate and Sustainability Consortium</a> 
  where I apply my methods to design next-generation carbon-capture materials aimed at mitigating climate change and fostering sustainability.
  </p> -->



  <!-- <p>
  This fall, I will be on job market looking for postdoc and faculty positions! 
  My research interests span in acelerating chemical discovery with AI. 
  If there are opportunities to present in your school, institute, group, seminar, workshop etc., I really appreciate it! 
  </p> -->
  
</div>

<!-- ========== Group ========== -->
<div class="docs-section" id="group">
  <h4>Group</h4>
  <p>
  I'll be recruiting PhD students in the December 2025 application cycle. I'm excited to work with students who have a strong technical skillset (either theoretical, empirical, or a mixture of the two) and are interested in tackling conceptual questions that emerge in machine learning ecosystems. If you are interested in joining my group, please apply to the CIS PhD program at Penn and list my name on your application. Unfortunately, I do not have the capacity to respond to individual inquiries outside of the formal application process.

  I'll also be recruiting postdocs; if you are interested in working with me, please email me with a 2-3 sentence description of your research interests and two of your representative papers.

  If you're currently a PhD student at Penn and are interested in my research, feel free to reach out!
  </p>
</div>

<!-- ========== News ========== -->
<!-- <div class="docs-section" id="news">
  <h4>News</h4>
  <li> [2024/01] I am teaching an IAP course about Machine Learning for Molecular Design at MIT
    <a href="https://ai4sciencecommunity.github.io/neurips23.html">[Link]</a> 
  </li>
  <li> [2023/12] We will organize the AI for Science Workshop at NeurIPS 2023
    <a href="https://ai4sciencecommunity.github.io/neurips23.html">[Link]</a> 
  </li>
  <li> [2023/09] Excited to annouce that I have been seelcted as one of the Google PhD Fellows
    <a href="https://research.google/outreach/phd-fellowship/recipients/">[Link]</a> 
  </li>
  <li> [2023/08] We organized the Machine Learning for Organic Chemistry Simposium at ACS Fall 2023
  </li>
    <li> [2022/09] Our paper on molecular optimization benchmark is accepted by NeurIPS 2022, Datasets and Benchmarks track 
      <a href="https://github.com/wenhao-gao/mol_opt">[Code]</a> 
    </li>
    <li> [2022/09] Our paper on machine learning assisted structure-based drug design is accepted by NeurIPS 2022
      <a href="https://github.com/futianfan/reinforced-genetic-algorithm">[Code]</a> 
    </li>
    <li> [2022/08] I am houred to be selected as one of the MIT-Takeda fellows
      <a href="https://mittakedaprogram.mit.edu">[Link]</a> 
    </li>
</div> -->

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <!--<p>Full Resume in <a href={{ "/assets/cv/WenhaoGao_CV.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>-->

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>



<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

            {% if paper.website %}
              <a class="button" href="{{ paper.website }}" target="_blank">Website</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== Talks ==========
<div class="docs-section" id="talks">
  <h4>Talks</h4>
    <li> 
      [2022/07] Our  
      <a href="https://github.com/wengong-jin/abdockgen">[Link]</a> 
    </li>
</div> -->

<!-- ========== PROJECTS ========== 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
-->




<div class="docs-section" id="template">
  <h5>Acknowledgement</h5>
  This website was built with jekyll based on a template by <a href="http://web.media.mit.edu/~msaveski/"> Martin Saveski </a>
</div>
